<?xml version="1.0"?>

<configuration>
    <appSettings/>
  <connectionStrings>
    <!--Mỗi connection string được lưu trong một <add..../>
    ví dụ dưới đây cho ADO cho SQL Server -->
    <add name="ten_connection_string" connectionString="Data Source=serverName;Initial      Catalog=Northwind;Persist Security Info=True;User      ID=userName;Password=password" providerName="System.Data.SqlClient"/>
    <!--Cho ADO cho DB2
    Server=may_chu_CSDL_DB2:cổng_của_thể_hiện;Database=tên_hoặc_alias_của_CSDL;UID=người_dùng;PWD=mật_khẩu;
    //string connString = @"Provider=IBMDADB2.DB2COPY1;Data Source=SAMPLE;Persist Security Info=True;Password=1;User ID=db2admin";
        //Provider=IBMDADB2;Database=myDataBase;Hostname=myServerAddress;Protocol=TCPIP; Port=50000;Uid=myUsername;Pwd=myPassword;-->
    <add name="db2ConnString" connectionString="Server=localhost:50000;Database=SAMPLE;UID=db2admin;PWD=1;"/>
    <!--Cho OLE cho DB2-->
    <add name="OLEconnString" connectionString="Provider=IBMDADB2;Database=SAMPLE;Hostname=localhost;Protocol=TCPIP; Port=50000;Password=1;User ID=db2admin"/>
    <!--Cho ADO cho SQL Server-->
    <add name="sqlSConString" connectionString="Data Source = DESKTOP-TSV4T6E\MSSQL2014; Initial Catalog=Sample;User id=log14spt;Password=22"/>
  </connectionStrings>
    <system.web>
        <compilation debug="true" >

        </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    </system.web>

</configuration>
